.snowfall-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(100vh) translateX(50px);
    opacity: 0;
  }
}

/* Randomize animations */
.snowflake:nth-child(5n) {
  width: 5px;
  height: 5px;
  animation-duration: 8s;
  animation-delay: 0s;
}

.snowflake:nth-child(5n + 1) {
  width: 3px;
  height: 3px;
  animation-duration: 10s;
  animation-delay: -5s;
  animation-name: fall2;
}

.snowflake:nth-child(5n + 2) {
  width: 6px;
  height: 6px;
  animation-duration: 6s;
  animation-delay: -2s;
}

.snowflake:nth-child(5n + 3) {
  width: 4px;
  height: 4px;
  animation-duration: 12s;
  animation-delay: -1s;
   animation-name: fall2;
}

.snowflake:nth-child(5n + 4) {
  width: 2px;
  height: 2px;
  animation-duration: 15s;
  animation-delay: -7s;
}

@keyframes fall2 {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(100vh) translateX(-50px);
    opacity: 0;
  }
}
